h1 {
    font-size: 24px;
    color: brown;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
}

h2 {
    font-size: 18px;
    color: #0073e6;
}

p {
    font-size: 16px;
    color: #555;
}

a {
    text-decoration: none;
    color: #0073e6;
}

/* Add additional styles for your header and footer components as needed */
